

.warpper {
  padding: 120px 0 0 0;
  position: relative;
}

.content {
  width: 360px;
  margin: 0 auto;
}

.topNav {
  position: absolute;
  top: 10px;
  left: 10px;
  div {
    display: inline-block;
    margin-right: 10px;
    color: #868686;
  }
}